---
import '../styles/global.css';
import ServicesLayout from '../components/ServicesLayout.jsx';
import Services from '../components/Services.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Services - Jones & Brown Legal</title>
	</head>
	<body>
		<ServicesLayout client:load>
			<Services client:load />
		</ServicesLayout>
	</body>
</html> 